@import '~bootstrap/scss/bootstrap';
.app-header {
    background-color: #008b8b;
}
.card {
    border: none;
    img {
        margin-right: 1rem;
        width: 2rem;
        height: 2rem;
    }
}

.exchange-list {
    tr {
        cursor: pointer;
    }
}

.exchange-detail {
    padding: 5rem 20rem;
}
